<!doctype html>
<head><title>Test</title>
    <meta charset=utf-8> 
</head>
<body>
<form action="/submit" method="POST">
    <label for="message">Message</label><br>
    <input type="text" id="message" name="message"><br><br>
    <label for="lat">Latitude</label><br>
    <input type="text" id="latitude" name="latitude"><br><br>
    <label for="lon">Longitude</label><br>
    <input type="text" id="longitude" name="longitude"><br><br>
    <br>
        <button><a>Send</a></button><br>
</form>
</body>